<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusqueda" placeholder="Ingresar un criterio de busqueda...">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: 'agustin',
            //Aquí, en este array es donde tienen que agregar su información
            personas:
                [
                    { nombre: 'Agustin', apellido: 'Ortega', dni: 42076179, correo: 'lpk900@gmail.com' },
                    // profe agregue otras personas para probar el criterio de busqueda
                    { nombre: 'Max', apellido: 'Vertappen', dni: 11111111, correo: 'Max@gmail.com' },
                    { nombre: 'Lewis', apellido: 'Hamilton', dni: 22222222, correo: 'Lewis@gmail.com' },
                    { nombre: 'Charles', apellido: 'Leclerc', dni: 33333333, correo: 'Charles@gmail.com' },

                    //Agregar aquí nombre, apellido, dni y correo en formato objeto 
                ]
        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre}${persona.apellido}${persona.dni}${persona.correo}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase().trim())
                    // agregue el trim para que no me tome los espacios al poner el nombre
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>